body {
  background: blanchedalmond;
  
  }


  .container {
background-color: aqua;
text-align: center;
padding: 20px;


 }






/*********************************
 ****DIV A
 *********************************/ 
.a {

  margin-bottom: 10px;
  border: 1px solid black ;
  padding: 100px;
  width: 1650px;
  height: 100px;
  
  




}
 




 /*********************************
 ****DIV B
 *********************************/ 
 .b {
  
  margin-right: auto;
  border: 1px solid black ;
  padding: 100px;
  width: 1200px;
  height: 800px;
  display: inline-block;
 
  

 }






 /*********************************
 ****DIV C
 *********************************/ 

 .c {
  
  margin-left: 35px; 
  border: 1px solid black ;
  padding: 100px;
  width: 200px;
  height: 800px;
  display: inline-block;
  
 }


 @@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  } }

  
  

 

 